<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <h1 class="text-center">Lo siento no s&eacute encontr&oacute la p&aacutegina que buscabas</h1>
            <a class="btn btn-primary btn-lg btn-block text-center" href="">Volver al incio</a>
            <img class="align-middle" src="https://res.cloudinary.com/joaquin2000cortes/image/upload/v1595703206/404_s2unuf.png" alt="Page not found" />
        </LayoutView>
    </NotFound>
</Router>

