@page "/Cotizacion"
<h3 class="font-weight-bold text-center">Cotización</h3>

<table class="table">
    <thead>
        <tr>
            <td>Producto</td>
            <td>Cantidad</td>
            <td>Total</td>
            <td>Opciones</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><!--Tipo--></td>
            <td><!--Precio--></td>
            <td><!--Unidad--></td>
            <td><a href="#" style="color:blue;">Eliminar de la cotización</a></td>
        </tr>
    </tbody>
</table>




@code {

}
