@inject IRepositorio repositorio;

    
        <div class="card border-info">
            <img src="@Imagen" class="card-img-top" alt="...">
            <div class="card-body">

                <h5 class="card-title">@Nombre</h5>
                <p class="card-text">El stock es de: @Cantidad unidades</p>
                <p class="card-text">Precio de $@Precio</p>
                <a href="/carroCompra/@Id" class="btn btn-primary w-100">Agregar al carro</a>
                <br /> 
                <br />
                <a href="#" class="btn btn-primary w-100">Agregar a cotización</a>
            </div>
        </div>

@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string Nombre { get; set; }

    [Parameter]
    public string Precio { get; set; }

    [Parameter]
    public int Cantidad { get; set; }

    [Parameter]
    public string Imagen { get; set; }
}
