
    
        <div class="card border-info" style="width: 18rem;">
            <img src="https://res.cloudinary.com/joaquin2000cortes/image/upload/v1592973136/Pan-casero-f%C3%A1cil_n6evb5.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Descripción del producto</p>
                <p class="card-text">Precio del producto</p>
                <a href="#" class="btn btn-primary w-100">Agregar al carro</a>
                <a href="#" class="btn btn-primary w-100">Agregar a cotización</a>
            </div>
        </div>


@code {

}
