@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="/login">Iniciar sesión</a>
        <a href="/Registro">Registrarme</a>
        <a href="/CarroCompra">Ver Carro</a>
        <a href="/Cotizacion">Ver Cotización</a>
        <a href="/Perfil">Mi Perfil</a>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
