
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BreadGiver</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="login" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span> Iniciar Sesión
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="registro" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span> Registrarme
            </NavLink>
        </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="registroItem" Match="NavLinkMatch.All">
                        <span class="oi oi-list" aria-hidden="true"></span> Registro de Item
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="inventario" Match="NavLinkMatch.All">
                        <span class="oi oi-list" aria-hidden="true"></span> Control Inventario
                    </NavLink>
                </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="carroCompra" Match="NavLinkMatch.All">
                <span class="oi oi-cart" aria-hidden="true"></span> Carro de Compra
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cotizacion" Match="NavLinkMatch.All">
                <span class="oi oi-cart" aria-hidden="true"></span> Cotización
            </NavLink>
        </li>
    </ul>
</div>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
