@page "/Inventario"
<h1 class="font-weight-bolder">Control de inventario</h1>



    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Imagen</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="/registroItem" style="color: blue;">Actualizar Item</a></td>
            </tr>
        </tbody>
    </table>


@code {
}
