@page "/registroItem"

<h3 class="text-center font-weight-bold" style="font-family:Arial;">Fromulario de Item</h3>

<div class="form-row">
    <div class="col">

    </div>
    <div class="col-md-6">
        <!--Inicio Form-->
        <form action="" onsubmit="">
            <div class="row form-group">
                <div class="col">
                    <p class="text-center">Producto</p>
                    <input class="form-control" type="text" placeholder="Ingresa el producto" required />
                </div>
                <div class="col">
                    <p class="text-center">Precio por unidad</p>
                    <input class="form-control" type="text" placeholder="Ingresa el precio unitario" required />
                </div>
            </div>
            <div class="form-group">
                <p class="text-center">Total de productos</p>
                <input class="form-control" type="number" placeholder="Ingresa la cantidad total" required />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary w-100">Continuar</button>
            </div>


        </form>
        <!--Fin form-->
    </div>
    <div class="col">

    </div>
</div>


@code {
    


}
